#content {
    max-width: 1600px;
    margin: 0 auto;

}

nav a {
    text-align: center;
    color: #E0E1DD;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}


body {
    background-color: #646E78;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
h2 {
    margin: 0;
}

header {
    background-color: #C08552;
}

nav a:hover {
    background-color: #E0E1DD;
    color: #190B28;
}

.book, .join {
    background-color: #E0E1DD;
    color: #646E78;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.book:hover, .join:hover {
    background-color: #646E78;
    color:#E0E1DD;
    border-radius: 5px;
}

#background {
    background-color: #E0E1DD;
}

.msg {
    background-color: #E0E1DD;
    line-height: 1.5em;
}

footer {
    background-color: #C08552;
    color:#E0E1DD;
    padding: 25px 50px;
    margin-top: 200px
}

.home-title {
    color: #E0E1DD;
    font-family:cursive;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color:#190B28;
}

.msg h2 {
    color:#190B28;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.msg p {
    color:#190B28;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color:#E0E1DD;
    text-decoration: none;
}

footer a:hover {
    color:#646E78;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width:100%;
}

footer p {
    font: size 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px;
}
main section img {
    box-sizing: border-box;
}